@tailwind base;
@tailwind components;
@tailwind utilities;

li:focus-visible{
    outline:none;
}
li:hover{
    cursor:pointer;
}
@layer base {
    :root {
        --black_900: #000000;
        --black_900_7f: #0000007f;
        --black_900_b2: #000000b2;
        --deep_purple_900: #3a2d78;
        --gray_200: #f0f0f0;
        --gray_200_01: #eaeaea;
        
    }
}